version: '3.8'
services:


  shihyutv-core:
    image: devinglaw/siffcitypro:pr-1
    container_name: shihyutv-core
    restart: unless-stopped
    ports:
      - '3133:3000'
      # - '3134:3001'
    dns:
      - 8.8.8.8
      - 8.8.4.4
    dns_search:
      - .
    dns_opt:
      - ndots:1
    environment:
      - USERNAME=root
      - PASSWORD=XXXXXXXXX
      - NEXT_PUBLIC_STORAGE_TYPE=kvrocks
      - KVROCKS_URL=redis://shihyutv-kvrocks:6666
      - NEXT_PUBLIC_ENABLE_REGISTER=true
      - NEXT_PUBLIC_SITE_NAME=ShihYuTV

    networks:
      - shihyutv-network
    depends_on:
      - shihyutv-kvrocks
    # 如需自定义配置，可挂载文件
    volumes:
      - ./gai.conf:/etc/gai.conf:ro 
      # - ./route.js:/app/.next/server/app/api/admin/user/route.js
  shihyutv-kvrocks:
    image: apache/kvrocks
    container_name: shihyutv-kvrocks
    restart: unless-stopped
    volumes:
      - kvrocks-data:/var/lib/kvrocks
    networks:
      - shihyutv-network


  watchtower:
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=300
    command: ""


# 全局卷定义
volumes:
  kvrocks-data: {}

# 全局网络定义
networks:
  moontv-network:
    driver: bridge
